Repository ipt-cryptolabs/aaf-labs-2022, pull requests merged in 2023-01, with the labels that each got.

#3 [V-9] Kobets (FI-03), Yegorov (FI-03)
  yegorov_fi-03-kobets_fi-03_aaf_9/commands.js
  yegorov_fi-03-kobets_fi-03_aaf_9/parser.js
Labels: deadline 1 - passed, parser done

#4 [V-14] Burzhymskiy (FI-03), Nedozhdii (FI-03)
  .gitignore
  burzhymskyi_fi-03_nedozhdii-fi-03_oaa14/CMakeLists.txt
  burzhymskyi_fi-03_nedozhdii-fi-03_oaa14/Parser.cpp
  burzhymskyi_fi-03_nedozhdii-fi-03_oaa14/Parser.h
  burzhymskyi_fi-03_nedozhdii-fi-03_oaa14/Tree.cpp
  burzhymskyi_fi-03_nedozhdii-fi-03_oaa14/Tree.h
  burzhymskyi_fi-03_nedozhdii-fi-03_oaa14/main.cpp
Labels: deadline 1 - passed, impl issues

#11 [V-4] Bondar, Kistaiev (FI-03)
  Bondar_Kistaiev_FI-03/.gitignore
  Bondar_Kistaiev_FI-03/CMakeLists.txt
  Bondar_Kistaiev_FI-03/DataBase/DataBase.cpp
  Bondar_Kistaiev_FI-03/DataBase/DataBase.hpp
  Bondar_Kistaiev_FI-03/Node/Node.cpp
  Bondar_Kistaiev_FI-03/Node/Node.hpp
  Bondar_Kistaiev_FI-03/Parser/Parser.cpp
  Bondar_Kistaiev_FI-03/Parser/Parser.hpp
  Bondar_Kistaiev_FI-03/README.md
  Bondar_Kistaiev_FI-03/SystemControl/SystemControl.cpp
  Bondar_Kistaiev_FI-03/SystemControl/SystemControl.hpp
  Bondar_Kistaiev_FI-03/main.cpp
Labels: deadline 1 - passed

#10 [V-11] Andriushkin (FE-01)
  andriushkin_fe-01_cp_11/.gitignore
  andriushkin_fe-01_cp_11/CMakeLists.txt
  andriushkin_fe-01_cp_11/README.md
  andriushkin_fe-01_cp_11/include/KDtree.hpp
  andriushkin_fe-01_cp_11/include/commands.hpp
  andriushkin_fe-01_cp_11/include/exec_manager.hpp
  andriushkin_fe-01_cp_11/src/KDtree.cpp
  andriushkin_fe-01_cp_11/src/commands.cpp
  andriushkin_fe-01_cp_11/src/exec_manager.cpp
  andriushkin_fe-01_cp_11/src/lab.cpp
Labels: deadline 1 - passed, impl issues

#16 Churikov (FI-01) [V-14]
  churikov_fi-01/CMakeLists.txt
  churikov_fi-01/Parser.cpp
  churikov_fi-01/Parser.hpp
  churikov_fi-01/Program.cpp
  churikov_fi-01/Program.hpp
  churikov_fi-01/Request.hpp
  churikov_fi-01/Storage.cpp
  churikov_fi-01/Storage.hpp
  churikov_fi-01/Trie.cpp
  churikov_fi-01/Trie.hpp
  churikov_fi-01/main.cpp
Labels: main_done

#12 [V-7] Serkhovets Vashchenok FB-03
  serkhovets_fb03_vashchenok_fb03/MySQL.pickle
  serkhovets_fb03_vashchenok_fb03/core.py
  serkhovets_fb03_vashchenok_fb03/main.py
  serkhovets_fb03_vashchenok_fb03/parser.py
Labels: parser issues, question, impl issues

#20 [V-2] Poshyvak Gnatyuk FB02
  gnatyuk_poshyvak_FR02_lab/.idea/.gitignore
  gnatyuk_poshyvak_FR02_lab/.idea/gnatyuk_poshyvak_FR02_lab.iml
  gnatyuk_poshyvak_FR02_lab/.idea/inspectionProfiles/Project_Default.xml
  gnatyuk_poshyvak_FR02_lab/.idea/inspectionProfiles/profiles_settings.xml
  gnatyuk_poshyvak_FR02_lab/.idea/misc.xml
  gnatyuk_poshyvak_FR02_lab/.idea/modules.xml
  gnatyuk_poshyvak_FR02_lab/Checker.py
  gnatyuk_poshyvak_FR02_lab/Databases/main_db.senseidb
  gnatyuk_poshyvak_FR02_lab/Queries.py
  gnatyuk_poshyvak_FR02_lab/custom_parser.py
  gnatyuk_poshyvak_FR02_lab/db_engine.py
  gnatyuk_poshyvak_FR02_lab/main.py
  gnatyuk_poshyvak_FR02_lab/readme.docx
  gnatyuk_poshyvak_lab/Checker.py
  gnatyuk_poshyvak_lab/README.md
  gnatyuk_poshyvak_lab/custom_parser.py
  gnatyuk_poshyvak_lab/db_engine.py
  gnatyuk_poshyvak_lab/main.py
Labels: question

#13 [V-1] Sakhnii_FB-01, Prykhodko (FB-01)
  sakhnii_fb-01_prykhodko_fb-01/README.md
  sakhnii_fb-01_prykhodko_fb-01/finally.py
Labels: deadline 1 - passed

#14 [V-5] Bochok (FB-03)
  bochok_fb-03/db_functions.py
  bochok_fb-03/main.py
  bochok_fb-03/myparser1.py
Labels: parser issues, deadline 1 - not enough

#2 [V-15] Nesterenko (FI-01), Pochynok (FI-03)
  nesterenko_fi-01_pochynok_fi-03/.gitignore
  nesterenko_fi-01_pochynok_fi-03/README.md
  nesterenko_fi-01_pochynok_fi-03/cmd/project/main.go
  nesterenko_fi-01_pochynok_fi-03/go.mod
  nesterenko_fi-01_pochynok_fi-03/internal/invinset/invinset.go
  nesterenko_fi-01_pochynok_fi-03/internal/parser/parser.go
  nesterenko_fi-01_pochynok_fi-03/internal/parser/parser_test.go
  nesterenko_fi-01_pochynok_fi-03/internal/sliceh/sliceh.go
Labels: parser issues, deadline 1 - passed

#5 [V-6] Davydiuk (FI-04), Koropenko (FI-04)
  davydiuk_fi-04_koropenko_aaf6/Cargo.toml
  davydiuk_fi-04_koropenko_aaf6/src/main.rs
Labels: deadline 1 - not enough

#9 [V-6] Doroshenko (FE-01), Danilov (FE-01)
  doroshenko_fe-01_danilov_fe-01_cp6/.gitignore
  doroshenko_fe-01_danilov_fe-01_cp6/DataBase/Table.py
  doroshenko_fe-01_danilov_fe-01_cp6/DataBase/__pycache__/Table.cpython-310.pyc
  doroshenko_fe-01_danilov_fe-01_cp6/DataBase/__pycache__/Table.cpython-38.pyc
  doroshenko_fe-01_danilov_fe-01_cp6/DataBase/__pycache__/Tree.cpython-38.pyc
  doroshenko_fe-01_danilov_fe-01_cp6/DataBase/__pycache__/index.cpython-310.pyc
  doroshenko_fe-01_danilov_fe-01_cp6/DataBase/__pycache__/index.cpython-38.pyc
  doroshenko_fe-01_danilov_fe-01_cp6/DataBase/index.py
  doroshenko_fe-01_danilov_fe-01_cp6/config.py
  doroshenko_fe-01_danilov_fe-01_cp6/exceptions.py
  doroshenko_fe-01_danilov_fe-01_cp6/lexer.py
  doroshenko_fe-01_danilov_fe-01_cp6/parser.py
  doroshenko_fe-01_danilov_fe-01_cp6/requirements.txt
  doroshenko_fe-01_danilov_fe-01_cp6/run.py
  doroshenko_fe-01_danilov_fe-01_cp6/shell.py
  doroshenko_fe-01_danilov_fe-01_cp6/test.py
Labels: parser issues, deadline 1 - not enough, question
